<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:glEsVersion="${GL_VERSION_CODE}" android:required="true" />

    <!-- Indicates the requirements for this application -->

    <uses-permission android:name="android.permission.INTERNET"
        android:required="${REQUIRE_INTERNET}" />

    <uses-permission android:name="android.permission.VIBRATE"
        android:required="${REQUIRE_VIBRATION}" />

    <uses-feature android:name="android.hardware.sensor.gyroscope"
        android:required="${REQUIRE_GYROSCOPE}" />

    <uses-feature android:name="android.hardware.sensor.accelerometer"
        android:required="${REQUIRE_ACCELEROMETER}" />

    <!-- Application config -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:appCategory="game"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:targetApi="31">
        <!-- Workaround: on some Samsung devices NativeActivity as launcher briefly flashes
             the launcher/home during startup. Keep a routing activity to transfer the
             system splash to NativeLoader without rendering custom UI here. -->
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            tools:ignore="CustomSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.${APP_CATEGORY}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NativeLoader"
            android:theme="@style/AppTheme.Game"
            android:configChanges="keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="${APP_LIB_NAME}" />
        </activity>

    </application>

</manifest>
